* {
    margin: 0;
    padding: 0;
}

html{
    height: 10vh;
}
body {
    overflow-x: hidden;
    text-align: center;
    background-color: rgba(76, 131, 100);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 40px;
    margin: 10px 0px;
}

header h1 {
    font-size: 1.5rem;
    color: #f6f1db;
}

main {
    background-color: rgba(76, 131, 100);
    background-image: url(../image/zenMobile.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

section{
    display: flex;
    flex-direction: column;
}
section form legend {
    margin: 1.5rem 1.2rem 1.5rem 1.2rem;
    font-size: 1.2rem;
    color: rgb(56, 98, 74);
}
form > label {
    font-size: 1.2rem;
}
button, #submit {
    margin: 1rem;
    color:#f6f1db;
    background-color: rgba(76, 131, 100);
    padding: 5px;
    border: solid 2px rgba(76, 131, 100);
    border-radius: 5px;
    box-shadow: 2px 5px 1px rgba(76, 131, 100, 0.7);
}
button:hover, #submit:hover {
    position: relative;
    top: 4px;
    box-shadow: 1px 1px 1px rgba(76, 131, 100, 0.7);
}

form >div{
    display: flex;
    justify-content: center;
    color: rgb(56, 98, 74);
}
form > div input[type="radio"] {
    margin: 0 1.5rem;
}
.questionMark, .answer {
    background-color: rgba(73, 131, 100, 0.705);
    width: 40%;
    min-width: 250px;
    height: 40%;
    min-height: 125px;
    margin: 10px auto;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer {
    display:none;
}
.questionMark p {
    font-size: 2.5rem;
    color: #f6f1db;
}
.answer p {
    font-size: 1rem;
    color: #f6f1db;
}
.buttonFavoriteAndReset {
    display: flex;
    justify-content: center;
}

.favorite, .resetButton{
    width: 100px;
    margin: 0.5rem;
    padding: 5px;
}
